:root
	--font-size-h1: 42px
	--font-size-h2: 38px
	--font-size-h3: 34px
	--font-size-h4: 30px
	--font-size-h5: 26px
	--font-size-h6: 22px

	--font-size-xl: 20px
	--font-size-l: 18px
	--font-size-m: 16px
	--font-size-s: 14px
	--font-size-xs: 12px

	--font-weight-s: 300
	--font-weight-m: 400
	--font-weight-l: 500