- var logo = require("../../assets/logo_small.svg").default

include ../components/RegistrationNavbar

html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
		link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap' , rel='stylesheet')
		link(href='/pages.css', rel='stylesheet')
		title Discriminatory - Register
	body(dir="ltr")
		+Navbar('ltr', '/ar/register', 'العربية')
		.m-submission(dir="ltr")
			.m-submission-header
				img(src=logo, alt='Discriminatory logo')
				h1 Join the cause against Discrimination
				span.
					Share, empathise, and enjoy your time
					on the first social network built
					specifically to fight discrimination.
					Available on all screens for free.
			.m-submission-form
				div
					h1 Join Discriminatory
					span Already registered?
						a(href='/ar/login')  Login

				form(method='post')
					input.container.minimalist(type='text' name='name' minLength='4' maxLength='36' required placeholder='Enter your first name and surname')
					input.container.minimalist(type='email' name='email' minLength='4' maxLength='50' required placeholder='Add your email')
					input.container.minimalist(type='password' name='password' minLength='4' maxLength='50' required placeholder='Choose a strong password')
					button.button.minimalist Continue
					span.disclaimer By clicking Continue, I confirm that I have read and agree to the
						a(href="/en/terms")  Terms Of Service
						| ,
						a(href="/en/privacy")  Privacy Policy
						| , and to receive emails and updates.