.label
	font-size: var(--font-size-m)
	color: var(--color-primary)

	> span
		font-size: var(--font-size-xs)
		font-weight: var(--font-weight-m)
		color: var(--color-purple-base)
		padding: 0 0 0 5px
		display: block