:global
	.active span
		color: var(--color-active) !important
	.active svg
		fill: var(--color-active) !important
		path
			fill: var(--color-active) !important

.container
	width: 100%
	position: fixed
	bottom: 0
	left: 0
	overflow-x: scroll
	overflow-y: visible
	padding: 10px
	background: #212121
	scrollbar-width: none
	-ms-overflow-style: none

.container::-webkit-scrollbar
	display: none


.logo
	display: none
	width: 240px

.links
	display: flex
	flex-direction: row
	align-items: center
	min-width: max-content

.link
	margin: 0 10px 0 10px
	transition: background-color 0.25s
	border-radius: 20px
	padding: 10px
	display: flex
	align-items: center
	justify-content: center
	span
		font-family: var(--font-family)
		font-size: var(--font-size-xl)
		font-weight: var(--font-weight-m)
		color: var(--color-primary)
		display: none
		transition: color 0.25s
		background: transparent
	svg
		width: 40px
		height: 40px
		fill: #FFFFFF
		transition: fill 0.25s
		background: transparent
		path
			fill: #FFFFFF
			transition: fill 0.25s
	&:hover, &:active
		background-color: var(--color-active--hover)
		span
			color: var(--color-active)
		svg, svg path
			fill: var(--color-active) !important
.compose
	height: 50px
	width: 50px
	border-radius: 100%
	display: flex
	justify-content: center
	align-items: center
	position: fixed
	bottom: 14%
	right: 6%
	z-index: 4
	cursor: pointer
	svg
		background: transparent
	span
		display: none

@media screen and (min-width: 414px)
	.compose
		bottom: 8%

@media screen and (min-width: 768px)
	.container
		bottom: unset
		top: 0
		left: 0
		width: 10%
		align-items: center
	.container, .links
		display: flex
		flex-direction: column
	.link
		margin: 15px 0 15px 0
	.compose
		position: relative
		top: 0
		left: 0
		bottom: unset
		right: unset
		margin: 15px 0 0 0

@media screen and (min-width: 1024px)
	.container
		width: 20%
	.compose
		width: 100%
		border-radius: 5px
		display: block
		position: relative
		bottom: 0
		right: 0
		z-index: 4
		cursor: pointer
		padding: 0
		margin: 0
		height: 35px
		svg
			display: none
		span
			background: transparent
			color: var(--color-primary)
			display: block
	.link
		display: flex
		align-items: center
		width: 100%
		display: flex
		align-items: center
		justify-content: unset
		span
			display: block
			margin: 0 0 0 20px