.fullscreenLoader
	position: fixed
	height: 100%
	width: 100%
	top: 0
	left: 0
	margin: 0
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	text-align: center
	background: var(--color-background)
	z-index: 60

	transition: opacity var(--transition-duration-base)

	> p
		font-size: var(--font-size-m)
		color: var(--color-secondary)
		max-width: 70%

	> span
		color: transparent
		background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
		background-size: 400% 400%
		animation: gradient 15s ease infinite
		background-clip: text
		font-size: var(--font-size-h4)
		font-weight: var(--font-weight-s)

	> img
		height: 40px
		width: 40px
		margin: 10px 0


@keyframes gradient
	0%
		background-position: 0% 50%

	50%
		background-position: 100% 50%

	100%
		background-position: 0% 50%


.loadingContainer
	width: 100%
	text-align: center
	font-family: var(--font-family)
	color: var(--color-primary)
	img
		width: 100%
	h1
		font-weight: var(--font-weight--headers)
		font-size: var(--font-size--4x)
		font-family: var(--font-family)
		margin: var(--margin--headers)
		color: inherit
	p
		margin: var(--margin--elements)
		font-weight: var(--font-weight--primary)
		font-size: var(--font-size--1x)
		color: inherit

.spinnerContainer
	margin: 100px auto
	position: relative

	&, div
		border-radius: 100%
		width: 40px
		height: 40px

	div
		position: absolute
		top: 0
		left: 0

	div:nth-of-type(1)
		background-color: var(--color-purple-base)
		animation: sk-scaleout 1.0s infinite ease-in-out
		animation-delay: 0.5s
		transform: scale(0)

	div:nth-of-type(2)
		background-color: var(--color-purple-base)
		animation: sk-scaleout 1.0s infinite ease-in-out
		animation-delay: 0



@keyframes sk-scaleout
	0%
		transform: scale(0)
	100%
		transform: scale(1.0)
		opacity: 0


@media screen and (max-width: 768px)
	.loadingContainer
		img
			width: 100%

	.spinnerContainer
		img
			width: 3rem