.button
	width: 100%
	border-radius: 5px
	display: block
	position: relative
	bottom: 0
	right: 0
	z-index: 4
	cursor: pointer
	padding: 0
	margin: 0
	height: 35px
	outline: none
	transition: filter 0.25s
	font-weight: var(--font-weight-l)
	font-size: var(--font-size-m)
	color: var(--color-primary)

.info
	background: var(--color-info)

.danger
	background: var(--color-danger)


.button:hover, .button:focus
	filter: brightness(0.9)

.button:active
	filter: brightness(0.85)

.button:disabled
	pointer-events: none
	box-shadow: none