@import '../src/style/base.global.sass'
@import '../src/style/dark-theme.tokens.sass'

html
	// font-size: 22px
	background: var(--color-background)

body
	padding: 0px

@media screen and (min-width: 1024px)
	body
		padding: 00px