.pageTitle
	font-family: var(--font-family)
	font-size: var(--font-size--4x)
	color: var(--text-color--primary)
	font-weight: var(--font-weight--headers)
	margin: var(--margin--headers)
	text-transform: capitalize


.section
	font-size: var(--font-size--2x)


.pageTitle[data-centered='true']
	width: 100%
	text-align: center