- var logo = require('../../assets/logo_small.svg').default

include ../components/RegistrationNavbar

html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap' , rel='stylesheet')
		link(href='/pages.css', rel='stylesheet')
		title Discriminatory - تسجيل الدخور
	body(dir='rtl')
		+Navbar('rtl', '/en/login', 'English')
		.m-submission(dir='rtl')
			.m-submission-header
				img(src=logo, alt='Discriminatory logo')
				h1 انضم لنا لمواجهة التمييز #[br]
					|  بكل اشكاله
				span.
					شارك وقتك في أول شبكة أنشئت خصيصاً
					لمكافحة التمييز والتعاطف مع ضحاياه. #[br]
					متاح على جميع الشاشات مجاناً.
			.m-submission-form
				div
					h1 تسجيل الدخول
					span لا تمتلك حساباً؟
						a(href='/ar/register')  سجل مجاناً

				form(method='post')
					input.container.minimalist(type='email' name='email' minLength='4' maxLength='50' required placeholder='ادخل بريدك الالكتروني')
					input.container.minimalist(type='password' name='password' minLength='4' maxLength='50' required placeholder='ادخل كلمة المرور الخاصة بحسابك')
					button.button.minimalist تقدم
					span.disclaimer اذا ادخلت معلومات صحيحة سيتم اعادة توجيهك آلياً الى الصفحة الرئيسية.