- var logo = require("../../assets/logo_small.svg").default

include ../components/RegistrationNavbar

html(lang='ar')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap", rel="stylesheet")
		link(href='/pages.css', rel='stylesheet')
		title Discriminatory - تسجيل حساب جديد
	body(dir="rtl")
		+Navbar('rtl', '/en/register', 'English')
		.m-submission(dir="rtl")
			.m-submission-header
				img(src=logo, alt='Discriminatory logo')
				h1 انضم لنا لمواجهة التمييز #[br]
					|  بكل اشكاله
				span.
					شارك وقتك في أول شبكة أنشئت خصيصاً
					لمكافحة التمييز والتعاطف مع ضحاياه. #[br]
					متاح على جميع الشاشات مجاناً.
			.m-submission-form
				div
					h1 إنضم لنا
					span مسجل مسبقاً؟
						a(href='/ar/login')  سجل الدخول

				form(method='post')
					input.container.minimalist(type='text' name='name' minLength='4' maxLength='36' required placeholder='ادخل اسمك')
					input.container.minimalist(type='email' name='email' minLength='4' maxLength='50' required placeholder='اضف بريدك الالكتروني')
					input.container.minimalist(type='password' name='password' minLength='4' maxLength='50' required placeholder='اختر كلمة مرور قوية')
					button.button.minimalist تقدم
					span.disclaimer بضغطي زر التقدم أقر بأنني قد قرأت وأقبل
						a(href="/ar/terms")  بشروط الخدمة
						|  و
						a(href="/ar/privacy")  سياسية الخصوصية
						|  وأقبل أن استقبل الرسائل الإلكترونية وأخبار الشبكة على بريدي الإلكتروني.