
.avatar
	width: 40px
	height: 40px
	padding: 0

.composer
	display: flex
	margin: 20px 0 10px 0
	svg
		height: 20px
		width: 20px
	img
		height: 30px
		width: 30px
		border-radius: 100%
	textarea
		margin-inline-start: 5px
		background: var(--color-background)
		font-size: var(--font-size-m)
		border-radius: 20px
		padding: 10px
		width: 100%
		min-height: 40px
		max-height: 200px
		height: 40px
		resize: none
		color: var(--color-primary)

.comment
	@extend .composer
	span
		h1
			margin: 0 0 5px 0
			font-size: var(--font-size-m)
			font-weight: var(--font-weight-m)
		p
			font-size: var(--font-size-m)
			font-weight: var(--font-weight-s)
		margin: 0 0 0 5px
		background: var(--color-background)
		border-radius: 20px
		padding: 10px 10px 10px 15px
		width: 100%
		color: var(--color-primary)

@media screen and (min-width: 768px)
	.composer
		svg
			height: 30px
			width: 30px
		img
			height: 40px
			width: 40px