.content
	font-size: var(--font-size-m)
	font-weight: var(--font-weight-s)
	margin: 20px 0 20px 0
	background: transparent

@media screen and (min-width: 768px)
	.content
		font-size: var(--font-size-l)
