.detailsContainer
	display: flex
	align-items: center
	color: var(--color-primary)
	background: transparent
	unicode-bidi: plaintext
	margin-inline-start: 5px

.verified
	background: linear-gradient(#6F5AF1 0%,#F15AB5 100%)


.date
	font-size: var(--font-size-s)

.details
	background: transparent
	line-height: 1.1

	a
		a, h1
			display: inline-block

		a
			margin-inline-start: 5px

		h1
			max-width: 50%
			direction: revert

	h1, span
		background: transparent
		font-weight: var(--font-weight-m)

	h1
		font-size: var(--font-size-l)
		font-weight: var(--font-weight-m)

	span
		color: var(--color-alternative)
		font-size: var(--font-size-m)
		unicode-bidi: plaintext
		display: block
		max-width: max-content
		margin: 0

	span:nth-child(2)
		margin: 0


@media screen and (min-width: 768px)
	.details
		h1
			font-size: var(--font-size-xl)
	.date
		font-size: var(--font-size-m)