html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Discriminatory - Together to end discrimination
		script(data-ad-client="ca-pub-4278004686608414" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
	body
		#root