.layout
	width: 100%
	margin: 0
	padding: 0
	display: flex
	justify-content: center

.content
	flex-grow: 10

.left
	display: none

.right
	display: none
	width: 30%
	margin-top: 10px


@media screen and (min-width: 768px)
	.layout
		padding: 0 40px

	.content
		margin: 0 10px

		nav
			margin: 0 20px

	.left
		display: block
		height: 0px
		flex-grow: 0
		width: 10%

@media screen and (min-width: 1024px)
	.left
		width: 22%

@media screen and (min-width: 1366px)
	.right
		display: block

	.layout
		padding: 0 40px

	.content
		margin: 0 20px

	.content nav
		width: 22%